.headingObjective {
	color: #1d1d1d;
	font-family: Inter;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 10px;
}
.mainObjectForm {
	max-width: 648px;
	margin: 0 auto;
	display: none;
}

.mainObjectForm.active {
	display: block;
}
.objectiveForm {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 24px;
	row-gap: 30px;
	max-width: 650px;
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 60px;
}

.object {
	display: flex;
	width: 312px;
	padding: 14px 28px;
	justify-content: center;
	align-items: center;
	gap: 20px;
	cursor: pointer;
	border-radius: 10px;
	border: 0.5px solid var(--paragraph-on-primary, #969696);
	background: var(--w, #fafafa);
	height: 54px;
}
.object.active {
	background-color: #2177eadb;
}
.object.active path {
	fill: white;
}
.object.active .objectContent {
	color: white;
}
.formIcon {
	width: 26px;
	height: 26px;
	color: #969696;
}
.objectContent {
	color: var(--paragraph-on-primary, #969696);
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.btnBg {
	border-radius: 5px;
	background: var(
		--btn,
		linear-gradient(234deg, #1a77f2 21.61%, rgba(0, 79, 184, 0.76) 95.22%)
	);
	display: flex;
	width: 100%;
	padding: 14px 32px;
	justify-content: center;
	align-items: center;
	gap: 20px;
	margin-bottom: 60px;
	margin-top: 60px;
	height: 52px;
	transition: 0.3s;
}
.btnBg:hover {
	opacity: 80%;
}
.btnBg[disabled] {
	opacity: 0.5;
	pointer-events: none;
}
.btnText {
	color: var(--w, #fafafa);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}
.arrowIcon {
	height: 20px;
	width: 20px;
	color: var(--w, #fafafa);
}
.formBG {
	background: #fff;
	width: 100%;
}
.btnB {
	margin-bottom: 180px;
}

@media screen and (max-width: 767px) {
	.object {
		width: 100%;
	}
}
@media screen and (max-width: 576px) {
	.objectiveForm {
		padding: 30px 0;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 20px;
	}
	.btnBg {
		margin-bottom: 30px;
	}
	.mainObjectForm {
		padding: 0 10px;
	}
}
