@layer theme {
	:root {
		/* Font sizes */
		--font-15: clamp(13px, 0.9vw, 15px);
		--font-16: clamp(14px, 0.9vw, 16px);
		--font-18: clamp(15px, 1vw, 18px);
		--font-20: clamp(15px, 1.1vw, 20px);
		--font-24: clamp(16px, 1.3vw, 24px);
		--font-26: clamp(16px, 1.4vw, 26px);
		--font-30: clamp(18px, 1.6vw, 30px);
		--font-32: clamp(18px, 1.8vw, 32px);
		--font-44: clamp(20px, 2.4vw, 44px);
		--font-50: clamp(20px, 2.7vw, 50px);
		--font-60: clamp(20px, 3.2vw, 60px);
		--font-70: clamp(25px, 3.8vw, 70px);
		--font-120: clamp(40px, 6.5vw, 120px);

		/* Spacing */
		--space-4: clamp(3px, 0.3vw, 4px);
		--space-8: clamp(6px, 0.5vw, 8px);
		--space-10: clamp(8px, 0.6vw, 10px);
		--space-12: clamp(10px, 0.7vw, 12px);
		--space-14: clamp(10px, 0.8vw, 14px);
		--space-16: clamp(10px, 0.9vw, 16px);
		--space-18: clamp(12px, 1vw, 18px);
		--space-20: clamp(14px, 1.1vw, 20px);
		--space-22: clamp(16px, 1.2vw, 22px);
		--space-24: clamp(16px, 1.3vw, 24px);
		--space-26: clamp(18px, 1.4vw, 26px);
		--space-28: clamp(18px, 1.5vw, 28px);
		--space-30: clamp(18px, 1.6vw, 30px);
		--space-40: clamp(20px, 2.2vw, 40px);
		--space-50: clamp(20px, 2.7vw, 50px);
		--space-60: clamp(20px, 3.2vw, 60px);
		--space-70: clamp(24px, 3.8vw, 70px);
		--space-80: clamp(30px, 4.5vw, 80px);
		--space-100: clamp(40px, 5.5vw, 100px);
		--space-120: clamp(40px, 7vw, 120px);
		--space-140: clamp(50px, 7.5vw, 140px);
		--space-160: clamp(50px, 8.5vw, 160px);
	}
}

@theme {
    fontSize: {
      15: var(--font-15),
      16: var(--font-16),
      18: var(--font-18),
      20: var(--font-20),
      24: var(--font-24),
      26: var(--font-26),
      30: var(--font-30),
      32: var(--font-32),
      44: var(--font-44),
      50: var(--font-50),
      60: var(--font-60),
      70: var(--font-70),
      120: var(--font-120)
    };
  
    spacing: {
      4: var(--space-4),
      8: var(--space-8),
      10: var(--space-10),
      12: var(--space-12),
      14: var(--space-14),
      16: var(--space-16),
      18: var(--space-18),
      20: var(--space-20),
      22: var(--space-22),
      24: var(--space-24),
      26: var(--space-26),
      28: var(--space-28),
      30: var(--space-30),
      40: var(--space-40),
      50: var(--space-50),
      60: var(--space-60),
      70: var(--space-70),
      80: var(--space-80),
      100: var(--space-100),
      120: var(--space-120),
      140: var(--space-140),
      160: var(--space-160)
    };
  }
  