.container {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container p {
	position: absolute;
	color: #b70303;
	font-size: 1.5em;
	font-family: consolas;
	bottom: -80px;
	letter-spacing: 0.15em;
}
.container .ring {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: -30px;
	border: 4px solid transparent;
	border-top: 4px solid #e91e63;
	animation: rotate 4s linear infinite;
}
.container .ring:nth-child(2) {
	border-top-color: #2196f3;
	animation: rotate2 4s linear infinite;
	animation-delay: -2s;
}

.container .ring:nth-child(3) {
	border-top-color: #4caf50;
	animation: rotate3 4s linear infinite;
	animation-delay: 2s;
	position: absolute;
	top: -66.66px;
}

.container .ring::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	top: 12px;
	right: 12px;
	background-color: #e91e63;
	box-shadow: 0 0 0 5px #e91e6333, 0 0 0 10px #e91e6322, 0 0 0 16px #e91e6311,
		0 0 20px #e91e63, 0 0 50px #e91e63;
}
.container .ring:nth-child(2)::before {
	bottom: 12px;
	left: 12px;
	background-color: #2196f3;
	box-shadow: 0 0 0 5px #2196f333, 0 0 0 10px #2196f322, 0 0 0 16px #2196f311,
		0 0 20px #2196f3, 0 0 50px #2196f3;
}
.container .ring:nth-child(3)::before {
	background-color: #4caf50;
	box-shadow: 0 0 0 5px #4caf5033, 0 0 0 10px #4caf5022, 0 0 0 16px #4caf5011,
		0 0 20px #4caf50, 0 0 50px #4caf50;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotate2 {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes rotate3 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
