.org {
	background: #fff;
	padding-bottom: 103px;
	position: relative;
	z-index: 1;
}
.org::before {
	content: '';
	position: absolute;
	background-image: url(/_next/static/media/members-sideImg.72ef757f.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: -25px;
	width: 158px;
	height: 819px;
	top: 31px;
	z-index: -1;
}
.orgWrap {
	display: flex;
	justify-content: space-between;
	gap: 100px;
	align-items: center;
	padding-top: 118px;
}

.rulesList {
	display: flex;
	max-width: 648px;
	align-items: center;
	gap: 20px;
	margin-top: 30px;
}
.ruleTxt {
	color: #969696;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 27px */
}
.imgBox {
	-webkit-mask-image: url('./mask-img-main.png');
	mask-image: url('./mask-img-main.png');
	-webkit-mask-size: 100%;
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-origin: content-box;
	-webkit-mask-origin: content-box;
	padding: 50px;
	position: relative;
}
.maskImgShadow {
	position: absolute;
}

.howItWork {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-top: 60px;
}

.howIiTxt {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%; /* 28.8px */
}

.playIcon {
	font-size: 80px;
	color: #1a77f2;
}
@media screen and (max-width: 1500px) {
	.org::before {
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	.orgWrap {
		gap: 50px;
	}
	.imgBox {
		padding: 15px;
	}
}
@media screen and (max-width: 950px) {
	.orgWrap {
		gap: 10px;
	}
	.org {
		padding-top: 20px;
		padding-bottom: 60px;
	}
}
@media screen and (max-width: 800px) {
	.orgWrap {
		flex-direction: column;
	}
	.orgWrap {
		padding-top: 50px;
	}
}
@media screen and (max-width: 576px) {
	.orgWrap {
		padding-top: 30px;
	}
	.ruleTxt {
		font-size: 14px;
	}
	.howItWork {
		margin-top: 30px;
	}
	.org {
		padding-top: 0px;
		padding-bottom: 30px;
	}
}
