.servicesDetails {
	padding-top: 160px;
}

.servicesDetailsWp {
	display: flex;
	justify-content: space-between;
}

.servicesdetailsSlider {
	width: 760px;
}
.sliderWrapper {
	position: relative;
}
.sDetailsHeading {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 34px;
	font-style: normal;
	font-weight: 600;
	line-height: 130%;
	margin-bottom: 30px;
}

.userDetails {
	display: flex;
	align-items: center;
	margin-bottom: 27px;
}

.sDetailsUserImg {
	margin-right: 8px;
}

.userName {
	color: #1d1d1d;
	text-align: center;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	margin-left: 8px;
}

.userSpan {
	color: #969696;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
}

.userBorder {
	height: 1px;
	background: #969696;
	margin-bottom: 30px;
}

.tabTotalBox {
	border-radius: 10px;
	border: 0.5px solid #dedede;
	background: #fff;
	position: sticky;
	top: 115px;
}
.boxtab {
	/* padding: 22px 40px; */
}
.tabHeaderContent {
	color: #969696;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	cursor: pointer;
	padding-top: 22px;
	padding-bottom: 22px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid transparent;
}
.tabHeaderContent:first-child {
	border-right: 1px solid #dedede;
}
.tabHeaderContent:last-child {
	border-left: 1px solid #dedede;
}
.tabHeaderContent.active {
	color: #1a77f2;
	border-bottom: 1px solid #1a77f2;
}
.tabTotalBox ul li {
	color: #969696;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 14px */
	width: 33.33%;
	text-align: center;
	padding: 21px 10px;
	/* border-right: 0.5px solid var(--paragraph-on-primary, #969696); */
	border-left: 0.5px solid var(--paragraph-on-primary, #969696);
	background: #fafafa;
}
.tabContentBox {
	padding: 0 35px 29px 36px;
}
.userReviewWPTop {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.ServicesDetails_style_tabIcon__6SP7C p {
	font-size: 16px;
	color: #6a6a6a;
	font-weight: 600;
	font-family: poppins;
}
.tabBox {
	border: 1px solid #f0f0f0;
	font-size: 19px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tabDetail {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 20px;
}

.tabHeadign {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 34px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
}

.tabContentp {
	color: #6a6a6a;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 30px;
}

.tabSpan {
	color: #041438;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
}

.servicesDetailsTab {
	width: 424px;
}

.tabParagraph {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
}

.tabContentpt {
	color: #6a6a6a;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 150%;
}
.tabContentpt ul {
	padding-left: 30px;
	margin-top: 10px;
}
.tabContentpt ul li {
	background: transparent;
	border: magenta;
	list-style: auto;
	width: 100%;
	text-align: left;
	padding: 5px;
}

.tabIcon {
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 80px;
	gap: 15px;
}
.tabIcon p {
	font-size: 16px;
	color: #6a6a6a;
	font-family: poppins;
	font-weight: 600;
}

.servicesDetailsContent {
	margin-top: 60px;
}
.sDetailsContentHeading {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	margin-bottom: 30px;
}
/* .tabfullBtn {
      width: 100%;
      border-radius: 5px;
      background: linear-gradient(234deg, #1A77F2 21.61%, rgba(0, 79, 184, 0.76) 95.22%);
      padding: 15px 0px;
      color: #fff;
  } */
.tabBtn {
	width: 100%;
	border-radius: 5px;
	background: linear-gradient(
		234deg,
		#1a77f2 21.61%,
		rgba(0, 79, 184, 0.76) 95.22%
	);
	padding: 15px 0px;
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
}
.btnText {
	color: #fafafa;
	text-align: center;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}
.sDetailsParagraph {
	color: #969696;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 30px;
}

.sDeSpan {
	color: #1d1d1d;
}

.sDetailsCategory {
	color: #969696;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 15px;
}

.sDetailsCategoryHeadhing {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
}

.userCategoryWP {
	display: flex;
	margin-bottom: 60px;
	gap: 89px;
}

.userReviewItemWP {
	display: flex;
	align-items: center;
}

.reviewText {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
}

.sortText {
	color: #969696;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	margin-right: 16px;
}

.userSelectBox {
	background: #fff;
	border: 0;
	outline: 0;
	color: #1d1d1d;
	border-radius: 0px;
}

.selectBoxItem {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%;
	border-radius: 0px;
}

.userReviewWP {
	display: flex;
	gap: 20px;
	margin-bottom: 30px;
}

.reviewUserDetails {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
	align-items: center;
}
.starts {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #ffab00;
}

.reviewImgWidth {
	width: 65px;
}

.reviewimgText {
	width: 670px;
}

.reviewUser {
	width: 100%;
	width: 64px;
	height: 65px;
	border-radius: 5px;
	object-fit: cover;
}

.userReviewH {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
	margin-bottom: 15px;
}

.userReviewP {
	color: #969696;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 31px;
}

.reviewParagraph {
	color: #969696;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
.topSliderImg img {
	border-radius: 10px;
	/* margin-bottom: 30px; */
}

.topSliderImgSmall img {
	border-radius: 5px;
	width: 110px;
	height: 80px;
	/* margin-bottom: 30px; */
}
.sliderSmallImg {
	margin-bottom: 20px;
}
/* .topSliderImg img {
  width: 100%;
} */
.userIcon {
	font-size: 20px;
}
.sliderImages {
	width: 100%;
	height: 361px;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	object-fit: cover;
}
.sliderSmallImages {
	width: 110px;
	height: 80px;
	border-radius: 5px;
}
.smallImagesSlider {
	position: relative;
	width: 110px;
	height: 80px;
}
.smallImagesSlider::after {
	content: '';
	position: absolute;
	background: rgba(29, 29, 29, 0.6);
	border-radius: 5px;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
@media screen and (max-width: 1240px) {
	.servicesDetailsWp {
		flex-direction: column;
		gap: 40px;
	}
	.servicesdetailsSlider {
		width: 100%;
	}
	.reviewimgText {
		width: 100%;
	}
	.servicesDetailsTab {
		width: 100%;
	}
	.userCategoryWP {
		gap: 0;
		justify-content: space-between;
	}
}

@media screen and (max-width: 576px) {
	.sliderImages {
		width: 100%;
		height: 300px;
	}
	.userBorder {
		margin: 15px 0;
	}
	.servicesDetails {
		padding-top: 150px;
	}
	.userDetails {
		margin-bottom: 0;
	}
	.sDetailsHeading {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 20px;
	}
	.servicesDetailsContent {
		margin-top: 20px;
	}
	.reviewParagraph {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.userReviewP {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.reviewUserDetails {
		margin-bottom: 15px;
	}
	.tabIcon {
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.tabContentBox {
		padding: 15px;
	}
	.userCategoryWP {
		flex-direction: column;
		gap: 25px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 414px) {
	.sliderImages {
		height: 200px;
	}
}
