/* @import './styles/tokens.css'; */
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--font-kalnia: var(--font-kalnia);
	--font-montserrat: var(--font-montserrat);
	--font-poppins: var(--font-poppins);

	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--color-primary3: var(--primary3);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--font-geist-mono: 'Poppins', sans-serif;
	--font-kalnia: 'Kalnia', serif;
	--font-montserrat: 'Montserrat', sans-serif;

	--primary3: #7d3c3f;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(91.279% 0.0001 271.152);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		font-family: 'Poppins', sans-serif;
	}
	.db-container {
		@apply w-full px-1 xl:px-6 py-2 sm:text-start;
	}
}

@layer utilities {
	/* Font Sizes */
	.fs-14 {
		font-size: clamp(12px, 0.9vw, 14px);
	}
	.fs-16 {
		font-size: clamp(14px, 0.9vw, 16px);
	}
	.fs-18 {
		font-size: clamp(15px, 1vw, 18px);
	}
	.fs-20 {
		font-size: clamp(15px, 1.1vw, 20px);
	}
	.fs-24 {
		font-size: clamp(16px, 1.3vw, 24px);
	}
	.fs-28 {
		font-size: clamp(18px, 1.85vw, 28px);
	}
	.fs-30 {
		font-size: clamp(18px, 1.6vw, 30px);
	}
	.fs-32 {
		font-size: clamp(18px, 1.8vw, 32px);
	}
	.fs-44 {
		font-size: clamp(20px, 2.4vw, 44px);
	}
	.fs-50 {
		font-size: clamp(20px, 2.7vw, 50px);
	}
	.fs-60 {
		font-size: clamp(20px, 3.2vw, 60px);
	}
}
@layer utilities {
	/* Spacing Values */
	.sp-4 {
		--sp: clamp(3px, 0.3vw, 4px);
	}
	.sp-8 {
		--sp: clamp(6px, 0.5vw, 8px);
	}
	.sp-10 {
		--sp: clamp(8px, 0.6vw, 10px);
	}
	.sp-12 {
		--sp: clamp(10px, 0.7vw, 12px);
	}
	.sp-14 {
		--sp: clamp(10px, 0.8vw, 14px);
	}
	.sp-16 {
		--sp: clamp(10px, 0.9vw, 16px);
	}
	.sp-18 {
		--sp: clamp(12px, 1vw, 18px);
	}
	.sp-20 {
		--sp: clamp(14px, 1.1vw, 20px);
	}
	.sp-22 {
		--sp: clamp(16px, 1.2vw, 22px);
	}
	.sp-24 {
		--sp: clamp(16px, 1.3vw, 24px);
	}
	.sp-26 {
		--sp: clamp(18px, 1.4vw, 26px);
	}
	.sp-28 {
		--sp: clamp(18px, 1.5vw, 28px);
	}
	.sp-30 {
		--sp: clamp(18px, 1.6vw, 30px);
	}
	.sp-40 {
		--sp: clamp(20px, 2.2vw, 40px);
	}
	.sp-50 {
		--sp: clamp(20px, 2.7vw, 50px);
	}
	.sp-60 {
		--sp: clamp(20px, 3.2vw, 60px);
	}
	.sp-70 {
		--sp: clamp(24px, 3.8vw, 70px);
	}
	.sp-80 {
		--sp: clamp(30px, 4.5vw, 80px);
	}
	.sp-100 {
		--sp: clamp(40px, 5.5vw, 100px);
	}
	.sp-120 {
		--sp: clamp(40px, 7vw, 120px);
	}
	.sp-140 {
		--sp: clamp(50px, 7.5vw, 140px);
	}
	.sp-160 {
		--sp: clamp(50px, 8.5vw, 160px);
	}

	/* Apply spacing */
	.p-sp {
		padding: var(--sp);
	}
	.px-sp {
		padding-left: var(--sp);
		padding-right: var(--sp);
	}
	.py-sp {
		padding-top: var(--sp);
		padding-bottom: var(--sp);
	}
	.m-sp {
		margin: var(--sp);
	}
	.mt-sp {
		margin-top: var(--sp);
	}
	.mb-sp {
		margin-bottom: var(--sp);
	}
	.ml-sp {
		margin-left: var(--sp);
	}
	.mr-sp {
		margin-right: var(--sp);
	}
	.gap-sp {
		gap: var(--sp);
	}
}

/* Layout wrapper */
.layout {
	max-width: 1320px;
	margin: 0 auto;
}

@media (max-width: 1320px) {
	.layout {
		padding-left: 15px;
		padding-right: 15px;
	}
	:root {
		--spacing: 0.23rem;
		--radius: 0.6rem;
	}
}
@media (max-width: 1024px) {
	:root {
		--spacing: 0.22rem;
		--radius: 0.5rem;
	}
	html {
		font-size: 15px;
	}
}
@media (max-width: 640px) {
	:root {
		--spacing: 0.21rem;
		--radius: 0.4rem;
	}
	html {
		font-size: 14px;
	}
}

/* in user dashboard pricing have extra mb so need to remove  */
.user-db-pricing {
	.pricing-module__nV4wVa__pricingMain {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
}
button {
	cursor: pointer;
}

a {
	cursor: pointer;
	text-decoration: none;
	transition: 0.5s;
}

.IconsViewGrid [role='group'] {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 0.5rem;
}

/* service slider  */
/* slider control  */

.swiper-slide-thumb-active .style_topSliderImgSmall__BjH1p img {
	border: 2px solid #041438;
}

#f-service-details-slider .custom-prev-icon {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(50%, -50%);
	z-index: 9999;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}
#f-service-details-slider .custom-next-icon {
	position: absolute;
	top: 50%;
	right: 35px;
	transform: translate(50%, -50%);
	z-index: 9999;
	font-size: 40px;
	color: #fff;
	cursor: pointer;
}

/* thumb  */
#f-service-details-slider-thumb {
	margin-top: 30px;
	position: relative;
}
.mySwiper2-slider-of-service-dt-thumb {
	margin-top: 30px;
}
.mySwiper2-slider-of-service-dt-thumb.custom-prev-icon {
	position: absolute;
	top: 50%;
	left: -10px;
	transform: translate(50%, -50%);
	z-index: 9999;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}
.mySwiper2-slider-of-service-dt-thumb .custom-next-icon {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(50%, -50%);
	z-index: 9999;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
}

.quill {
	p {
		color: #000;
	}
	.ql-container {
		height: 100%;
	}
	.ql-toolbar.ql-snow {
		border-color: #d9d9d9;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}
	.ql-container.ql-snow {
		border-color: #d9d9d9;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.ql-blank {
		padding-bottom: 50px;
	}
}

.quill-view {
	p {
		color: #000;
	}
}

.hide-number-input-arrow {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	&[type='number'] {
		-moz-appearance: textfield;
	}
}

.db-advertise-create {
	.progressbar_itemsSuccessBox__HClUQ {
		padding-top: 20px !important;
	}
}

/* theme 3 home page  */
.THEME-3 {
}

/* barcode print page  */
.A4 {
	max-width: 210mm;
}

.LABEL75_100 {
	width: 75mm;
}

.LABEL38_25 {
	width: 38mm;
}

.LABEL38_15 {
	width: 38mm;
}
