@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	/* --color-background: var(--background); */
}

:root {
	/* --radius: 0.625rem; */
}

.dark {
	/* --foreground: oklch(0.985 0 0); */
}

@layer base {
	* {
		/* @apply border-border outline-ring/50; */
	}
	body {
		background-color: #fff;
	}
}
.layout {
	max-width: 1320px;
	margin: 0 auto;
}
@media screen and (max-width: 1320px) {
	.layout {
		padding-left: 15px;
		padding-right: 15px;
	}
}
