.contactSection {
	padding: 208px 0 120px 0;
	position: relative;
}

.contactSection::before {
	content: '';
	position: absolute;
	background-image: url('./contact-icon.png');
	width: 48.928px;
	height: 40.397px;
	top: 145px;
	left: 8%;
	transform: translateX(-8%);
}
.contactSection::after {
	content: '';
	position: absolute;
	background-image: url('./contact-icon.png');
	width: 48.928px;
	height: 40.397px;
	flex-shrink: 0;
	bottom: 131px;
	right: 8%;
	transform: translateX(-8%);
	transform: rotate(180deg);
}
.contact {
	display: flex;
	align-items: center;
	gap: 125px;
}
.leftContent {
	max-width: 448px;
	padding: 40px 60px;
	flex-shrink: 0;
	border-radius: 20px;
	background: #041438;
	background-image: url('./contact-bg.png');
	background-size: cover;
}
.leftHeader {
	color: #fff;
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 30px */
}
.leftParagraph {
	color: #fafafa;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 27px */
	margin: 30px 0 0 0;
}
.contactInfo {
	padding-top: 80px;
}
.flexColumn {
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 15px 10px;
	border-radius: 10px;
	border: 1px solid transparent;
	cursor: pointer;
	transition: 0.3s;
}
.flexColumn:hover {
	padding: 15px;
	border: 1px solid #1a77f2;
	background: rgba(26, 119, 242, 0.15);
}
#extraGap {
	margin: 50px 0;
}
.contactInfoIcon {
	width: 30px;
	height: 30px;
	color: #1a77f2;
}
.contactDetails {
	color: #fff;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 18px */
}
.socialInfo {
	padding-top: 40px;
	display: flex;
	gap: 30px;
}
.socialIcon {
	border-radius: 100px;
	display: flex;
	width: 48px;
	height: 48px;
	padding: 12px;
	justify-content: center;
	align-items: center;
	color: #fafafa;
	cursor: pointer;
	transition: 0.3s;
}
.socialIcon:hover {
	background: #1a77f2;
}

.rightForm {
	max-width: 768px;
	padding: 40px;
	border-radius: 10px;
	background: #fafafa;
}
.userName {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 16px */
}
.inputField {
	display: flex;
	padding: 13px 10px;
	border-radius: 10px;
	border: 0.5px solid #969696;
	margin-top: 10px;
	height: 40px;
	width: 324px;
	background-color: transparent;
}
.inputField:focus {
	border: 0.5px solid #969696;
}
.inputField::placeholder {
	color: #969696;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 14px */
}
.firstField {
	display: flex;
	gap: 40px;
}
.message {
	display: flex;
	width: 100%;
	height: 101px;
	padding: 13px 10px;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	border-radius: 10px;
	margin-top: 10px;
	background-color: transparent;
	border: 0.5px solid #969696;
}
#mail {
	width: 100%;
}
#number {
	width: 100%;
}
.middleGap {
	margin-bottom: 40px;
}
.submitBtn {
	display: flex;
	padding: 13px 28px;
	justify-content: center;
	align-items: center;
	gap: 20px;
	align-self: stretch;
	border-radius: 10px;
	background: #1a77f2;
	color: #fafafa;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	width: 100%;
	cursor: pointer;
	border: 1px solid #1a77f2;
	transition: 0.3s;
}
.submitBtn:hover {
	opacity: 80%;
}
@media screen and (max-width: 1366px) {
	.contact {
		gap: 80px;
	}
}
@media screen and (max-width: 1300px) {
	.contact {
		gap: 30px;
	}
}
@media screen and (max-width: 1260px) {
	.contact {
		flex-direction: column;
	}
}
@media screen and (max-width: 767px) {
	.firstField {
		flex-direction: column;
		gap: 0;
	}
	.rightForm {
		width: 100%;
	}
	.inputField {
		width: 100%;
	}
	.contactSection {
		padding: 150px 0 60px 0;
	}
}
@media screen and (max-width: 576px) {
	.middleGap {
		margin-bottom: 20px;
	}
	.rightForm {
		padding: 0px;
	}
	.leftContent {
		width: 100%;
		padding: 15px 20px;
	}
	.contactInfo {
		padding-top: 40px;
	}
	#extraGap {
		margin: 25px 0;
	}
	.contactSection {
		padding: 150px 0 40px 0;
	}
}
@media screen and (max-width: 414px) {
	.contactDetails {
		font-size: 14px;
	}
	.contactInfoIcon {
		width: 20px;
		height: 20px;
	}
	.flexColumn {
		gap: 8px;
	}
	.leftParagraph {
		font-size: 14px;
	}
}
