.checkoutFinal {
	display: none;
	padding-top: 103px;
}

.checkoutFinal.active {
	display: block;
}
.heading {
	color: var(--B, #1d1d1d);
	font-family: Poppins;
	font-size: 30px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 30px */
	text-align: center;
	margin-bottom: 20px;
	margin-top: 40px;
}
.subHeading {
	color: var(--Paragraph-on-primary, #969696);
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 27px */
}

.orderBox {
	border-radius: 10px;
	background: #fff;
	display: flex;
	max-width: 872px;
	padding: 40px 30px;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	margin: 60px auto;
	padding-left: 50px;
	padding-right: 50px;
}

.boxHeading {
	color: var(--B, #1d1d1d);
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 20px */
	margin-bottom: 30px;
}

.summeryBox {
	display: flex;
	padding: 30px;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 10px;
	background: rgba(29, 29, 29, 0.05);
	width: 100%;
	gap: 30px;
}

.chooseWallerBox {
	padding: 30px;
	border-radius: 10px;
	background: rgba(29, 29, 29, 0.05);
	width: 100%;
}
.chooseWalletHeading {
	color: var(--B, #1d1d1d);
	text-align: left;
	font-family: Poppins;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 30px;
	line-height: normal;
}

.payOptions {
	display: flex;
	align-items: center;
	gap: 30px;
}
.payOption {
	display: flex;
	align-items: center;
	gap: 10px;
}

.btn {
	border-radius: 10px;
	background: linear-gradient(
		266deg,
		#1a77f2 22.95%,
		rgba(0, 79, 184, 0.76) 93.94%
	);
	display: flex;
	width: 100%;
	padding: 12px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--W, #fafafa);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-top: 40px;
}

.checkField {
	display: flex;
	align-items: center;
	gap: 5px;
	padding: 10px;
	background: #e5e5e570;
	border-radius: 5px;
	align-self: stretch;
	cursor: pointer;
	border: 1px solid transparent;
}
.checkField.active {
	background: #fff;
	border: 1px solid #1a77f2;
}

.checkBorder {
	max-width: 20px;
	min-width: 20px;
	height: 20px;
	background-color: transparent;
	display: inline-block;
	border-radius: 50%;
	border: 2px solid #1a77f2;
	position: relative;
}
.dot {
	width: 12px;
	height: 12px;
	background-color: rgb(160, 158, 158);
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dot.active {
	background-color: #1a77f2;
}

@media only screen and (max-width: 900px) {
	.orderBox {
		padding-left: 10px;
		padding-right: 10px;
		margin-top: 20px;
	}
	.summeryBox {
		padding: 15px;
	}
	.btn {
		margin-top: 20px;
	}
	.boxHeading {
		margin-bottom: 0px;
	}
}

@media only screen and (max-width: 550px) {
	.chooseWallerBox {
		padding: 15px;
	}
	.payOptions {
		flex-direction: column;
		gap: 5px;
	}
	.payOption {
		/* flex-direction: column; */
		gap: 5px;
	}
	.chooseWalletHeading {
		margin-bottom: 10px;
	}
	.checkField {
		width: 200px;
	}
}
