.item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.num {
	border: 1px solid #969696;
	display: flex;
	width: 80px;
	height: 80px;
	justify-content: center;
	align-items: center;
	color: #969696;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-radius: 50%;
}

.title {
	color: #969696;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.line {
	width: 222px;
	height: 2px;
	display: inline-block;
	background: #969696;
}

.item.init .num {
	color: #1a77f2;
	border: 1px solid #1a77f2;
}
.item.init .title {
	color: #1a77f2;
	font-weight: 500;
}

.itemsSuccessBox {
	padding-top: 180px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@media only screen and (max-width: 1200px) {
	.line {
		width: 100px;
	}
}
@media only screen and (max-width: 900px) {
	.line {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	.num {
		width: 50px;
		height: 50px;
	}
	.item {
		gap: 10px;
	}
}
@media only screen and (max-width: 500px) {
	.item {
		flex-direction: column;
	}
}
