.servicesSection {
	padding: 120px 0;
}
.serviceFilter {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.filterOption {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	align-items: center;
}
.serviceHeader {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 24px */
}
.serviceLeftFilter {
	color: #969696;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 16px */
}
.filterBySort,
.filterByCategory {
	display: flex;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 5px;
	border: 0.5px solid #969696;
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	background-color: white;
	line-height: 100%; /* 16px */
}
.values {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 100%; /* 16px */
}
.services {
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 24px;
	row-gap: 30px;
}
.serviceImage {
	width: 100%;
	height: 200px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
	background: #f0f0f0;
}
.serviceProviderInfo {
	padding-top: 15px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.serviceProviderImg {
	border-radius: 20px;
	width: 20px;
	height: 20px;
}
.serviceProviderName {
	color: #1d1d1d;
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 14px */
}
.serviceDetails {
	color: #969696;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 21px */
	margin: 10px 0 15px 0;
}
.serviceRating {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 15px;
}
.ratingIcon {
	color: #f89100;
	width: 18px;
	height: 18px;
}
.serviceRate {
	color: #1d1d1d;
	text-align: center;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 14px */
	margin-top: 4px;
}
.servicePrice {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%; /* 14px */
}
.userIcon {
	font-size: 20px;
	color: #969696;
}
@media screen and (max-width: 1024px) {
	.services {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (max-width: 767px) {
	.services {
		grid-template-columns: repeat(1, 1fr);
	}
	.servicesSection {
		padding: 80px 0;
	}
	.serviceFilter {
		flex-direction: column;
		gap: 20px;
		text-align: left;
	}
}
@media screen and (max-width: 576px) {
	.servicesSection {
		padding: 60px 0 40px 0;
	}
	.filterOption {
		gap: 5px;
	}
	.filterBySort,
	.filterByCategory {
		padding: 8px 10px;
	}
	.services {
		padding-top: 20px;
	}
}
