.loginBg {
	background: url('./loginBg.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 200px;
}

.loginFormBox {
	margin: 0 auto;
	background: #fff;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
}

.singleChooseImg {
	max-height: 60px;
	object-fit: cover;
}

.LoginImg {
	width: 333px;
	margin-top: 24px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.loginFromHeading {
	color: #1d1d1d;
	text-align: center;
	font-family: Poppins;
	font-size: 34px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-bottom: 20px;
}

.loignTabBox {
	width: 50%;
	margin-top: 20px;
}

.loginP {
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-bottom: 15px;
}

.loginLabel {
	color: #3a3a3a;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.loginInput {
	padding: 15px 20px;
	width: 100%;
	background: #fafafa;
	color: #1d1d1d;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border: 1px solid #1a77f2;
	margin-top: 15px;
	margin-bottom: 24px;
	border-radius: 10px;
}

.loginRadio {
	display: flex;
}
.loginRadio p {
	margin-left: 10px;
}
.loginReFor {
	display: flex;
	justify-content: space-between;
}

.forgatPassword {
	color: #0086ff;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration-line: underline;
}

.loginBtn {
	width: 100%;
	color: #fff;
	background: #1a77f2;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	margin-top: 40px;
	border: none;
	outline: 0;
	padding: 14px 0px;
	margin-bottom: 10px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
}
.loginBtn[disabled] {
	color: #fff;
	background: #569af3;
	cursor: not-allowed;
}

.goRegister {
	text-align: center;
	margin-top: 30px;
}
.loginGoRLink {
	color: #1a77f2;
	font-family: Poppins;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration-line: underline;
}

.userItemsBox {
	border-radius: 5px;
	background: #041438;
	width: 348px;
	padding: 10px;
	margin-bottom: 40px;
}

.userItems:hover {
	background: #0086ff;
}
.userItems {
	color: #fff;
	padding: 6px 31px;
	border-radius: 5px;
}

@media screen and (max-width: 915px) {
	.loginFormBox {
		width: 100% !important;
		padding-left: 20px;
		padding-right: 20px;
	}
	.loginBg {
		padding-top: 80px;
	}
}
